{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Editar Usuário</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
                            <li class="breadcrumb-item active">Editar Usuário</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle"
                                         src="{% static 'dist/img/user1-128x128.jpg' %}"
                                         alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>

                                <p class="text-muted text-center">{{ user.perfil }}</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Último acesso</b> <a class="float-right">{{ user.last_login|date:"H:i - d/m/Y" }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Função</b> <a class="float-right">Planejamento</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- About Me Box -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Sobre</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Localização</strong>

                                <p class="text-muted">{{ user.cidade }} - {{ user.estado }}</p>

                                <hr>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Dados</a>
                                    </li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="settings">
                                        <form method="POST" action="{% url 'update-user' %}" class="form-horizontal">
                                            <input type="number" class="form-control" name="user-id" value="{{ user.id }}" hidden>
                                            {% csrf_token %}
{#                                            <div class="form-group row">#}
{#                                                <label for="inputName2" class="col-sm-2 col-form-label">Perfil</label>#}
{#                                                <div class="col-sm-10">#}
{#                                                    <select class="form-control custom-select">#}
{#                                                        <option>Aministrador</option>#}
{#                                                        <option>Engenheiro</option>#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="form-group row">
                                                <label for="name" class="col-sm-2 col-form-label">Nome</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="first_name" id="name"
                                                           placeholder="Nome" value="{{ user.first_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="name" class="col-sm-2 col-form-label">Sobrenome</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="last_name" id="name"
                                                           placeholder="Nome" value="{{ user.last_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                           placeholder="E-mail" value="{{ user.email }}">
                                                </div>
                                            </div>
{#                                            <div class="form-group row">#}
{#                                                <label for="funcao" class="col-sm-2 col-form-label">Função</label>#}
{#                                                <div class="col-sm-10">#}
{#                                                    <select class="form-control custom-select">#}
{#                                                        <option>Planejamento</option>#}
{#                                                        <option>Obras</option>#}
{#                                                        <option>Projeto</option>#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="form-group row">
                                                <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="cpf" id="cpf"
                                                           placeholder="CPF sem pontuação" value="{{ user.cpf }}" maxlength="11">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cnpj" class="col-sm-2 col-form-label">CNPJ</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="cnpj" id="cnpj"
                                                           placeholder="CNPJ" value="{{ user.cnpj }}" maxlength="14">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="data_nascimento" class="col-sm-2 col-form-label">Data de Nascimento</label>
                                                <div class="col-sm-10">
                                                    <input type="date" name="data_nascimento" id="data_nascimento"
                                                       class="form-control" value="{{ user.data_nascimento|date:"Y-m-d" }}"
                                                       required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="telefone"
                                                       class="col-sm-2 col-form-label">Telefone</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="telefone" id="telefone"
                                                           placeholder="Telefone" value="{{ user.telefone }}" maxlength="11">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cep" class="col-sm-2 col-form-label">CEP</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="cep" id="cep"
                                                           placeholder="CEP" value="{{ user.cep }}" maxlength="8">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control text-uppercase" name="estado" id="estado"
                                                           placeholder="UF" value="{{ user.estado }}" maxlength="2">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="cidade" class="col-sm-2 col-form-label">Cidade</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="cidade" id="cidade"
                                                           placeholder="Cidade" value="{{ user.cidade }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="logradouro"
                                                       class="col-sm-2 col-form-label">Logradouro</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="logradouro_completo" id="logradouro"
                                                           placeholder="Logradouro" value="{{ user.logradouro_completo }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="crea" class="col-sm-2 col-form-label">CREA</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="crea" id="crea"
                                                           placeholder="CREA" value="{{ user.crea }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="perfil"
                                                       class="col-sm-2 col-form-label">Perfil</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="perfil" id="perfil"
                                                           placeholder="Perfil" value="{{ user.perfil }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="senha" class="col-sm-2 col-form-label">Senha</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" name="password1" id="senha"
                                                           placeholder="******" value="{{ user.password }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="senha" class="col-sm-2 col-form-label">Confirme a Senha</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" name="password2" id="senha"
                                                           placeholder="******" value="{{ user.password }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-success">Salvar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock content %}

