<h3>Register</h3>

<form method="POST" action="register">
    {% csrf_token %}

    <input type="text" name="email" placeholder="Email">
    <input type="text" name="cep" placeholder="cep">
    <input type="text" name="estado" placeholder="estado">
    <input type="text" name="cidade" placeholder="cidade">
    <input type="text" name="logradouro_completo" placeholder="logradouro_completo">
    <input type="text" name="perfil" placeholder="perfil">
    <input type="password" name="password1" placeholder="Password">
    <input type="password" name="password2" placeholder="Confirm Password">
    <input type="Submit">
</form>