{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Obras </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
                            <li class="breadcrumb-item active">Obras</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Obras Cadastradas</h3>

                    <div class="card-tools">
                        <a class="btn btn-info btn-sm" href="{% url 'obras-add' %}">
                            <i class="">
                            </i>
                            Cadastrar nova obra
                        </a>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Projeto
                            </th>
                            {#                      <th style="width: 30%">#}
                            {#                          Equipe#}
                            {#                      </th>#}
                            <th>
                                Progresso
                            </th>
                            <th style="width: 8%" class="text-center">
                                Andamento
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--Início detalhes-->

                        {% for o in obra %}
                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    {{ o.nome }}
                                </a>
                                <br/>
                                <small>
                                    Início em {{ o.data_inicio|date:"d/m/Y"  }}
                                </small>
                            </td>
                            {#                      <td>#}
                            {#                          <ul class="list-inline">#}
                            {#                              <li class="list-inline-item">#}
                            {#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar2.png' %}">#}
                            {#                              </li>#}
                            {#                              <li class="list-inline-item">#}
                            {#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar04.png' %}">#}
                            {#                              </li>#}
                            {#                          </ul>#}
                            {#                      </td>#}
                            <td class="project_progress">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-green" role="progressbar" aria-volumenow="1"
                                         aria-volumemin="0" aria-volumemax="100" style="width: 1%">
                                    </div>
                                </div>
                                <small>
                                    1% Executado
                                </small>
                            </td>
                            {% if o.data_inicio|date:"d/m/Y" %}
                            <td class="project-state">
                                <span class="badge badge-success">No Prazo</span>
                            </td>
                            {% else %}
                            <td class="project-state">
                                <span class="badge badge-danger">Atrasado</span>
                            </td>
                            {% endif %}
                            <td class="project-actions text-right">
                                {#                          <a class="btn btn-primary btn-sm" href="#">#}
                                {#                              <i class="fas fa-folder">#}
                                {#                              </i>#}
                                {#                              Ver#}
                                {#                          </a>#}
                                <a class="btn btn-info btn-sm" href="/obras-edit/{{ o.id }}/">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Editar
                                </a>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        data-target="#modal_confirm{{ o.id }}"><i class="fas fa-trash">
                                </i>
                                    Deletar
                                </button>
                            </td>
                        </tr>
                            <div class="modal fade" id="modal_confirm{{ o.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Tem certeza que deseja deletar est Obra?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Esta ação não poderá ser revertida após confirmada.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger btn-sm" href="/obras-delete/{{ o.id }}/">
                                                <i class="fas fa-trash"></i>
                                                DELETAR
                                            </a>
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!--Fim detalhes-->

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
{% endblock content %}
