{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Obras </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
              <li class="breadcrumb-item active">Obras</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Obras Cadastradas</h3>

          <div class="card-tools">
              <a class="btn btn-info btn-sm" href="{% url 'obras-add' %}">
                  <i class="">
                  </i>
                  Cadastrar nova obra
              </a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 20%">
                          Projeto
                      </th>
{#                      <th style="width: 30%">#}
{#                          Equipe#}
{#                      </th>#}
                      <th>
                          Progresso
                      </th>
                      <th style="width: 8%" class="text-center">
                          Andamento
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody>

              <!--Início detalhes-->

                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Condomínio do Sol
                          </a>
                          <br/>
                          <small>
                              Criado em 04-04-2020
                          </small>
                      </td>
{#                      <td>#}
{#                          <ul class="list-inline">#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar.png' %}">#}
{#                              </li>#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar2.png' %}">#}
{#                              </li>#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar3.png' %}">#}
{#                              </li>#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar04.png' %}">#}
{#                              </li>#}
{#                          </ul>#}
{#                      </td>#}
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-volumenow="57" aria-volumemin="0" aria-volumemax="100" style="width: 57%">
                              </div>
                          </div>
                          <small>
                              57% Executado
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-warning">Em atraso</span>
                      </td>
                      <td class="project-actions text-right">
{#                          <a class="btn btn-primary btn-sm" href="#">#}
{#                              <i class="fas fa-folder">#}
{#                              </i>#}
{#                              Ver#}
{#                          </a>#}
                          <a class="btn btn-info btn-sm" href="{% url 'obras-edit' %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Editar
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Deletar
                          </a>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Condomínio Residencial Marítmo
                          </a>
                          <br/>
                          <small>
                              Criado 26-03-2020
                          </small>
                      </td>
{#                      <td>#}
{#                          <ul class="list-inline">#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar.png' %}">#}
{#                              </li>#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar3.png' %}">#}
{#                              </li>#}
{#                          </ul>#}
{#                      </td>#}
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-volumenow="99" aria-volumemin="0" aria-volumemax="100" style="width: 99%">
                              </div>
                          </div>
                          <small>
                              99% Executado
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">No prazo</span>
                      </td>
                      <td class="project-actions text-right">
{#                          <a class="btn btn-primary btn-sm" href="#">#}
{#                              <i class="fas fa-folder">#}
{#                              </i>#}
{#                              Ver#}
{#                          </a>#}
                          <a class="btn btn-info btn-sm" href="{% url 'obras-edit' %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Editar
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Deletar
                          </a>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Posto de Combustível
                          </a>
                          <br/>
                          <small>
                              Criado 21-03-2020
                          </small>
                      </td>
{#                      <td>#}
{#                          <ul class="list-inline">#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar.png' %}">#}
{#                              </li>#}
{#                          </ul>#}
{#                      </td>#}
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-volumenow="73" aria-volumemin="0" aria-volumemax="100" style="width: 73%">
                              </div>
                          </div>
                          <small>
                              73% Executado
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">No prazo</span>
                      </td>
                      <td class="project-actions text-right">
{#                          <a class="btn btn-primary btn-sm" href="#">#}
{#                              <i class="fas fa-folder">#}
{#                              </i>#}
{#                              Ver#}
{#                          </a>#}
                          <a class="btn btn-info btn-sm" href="{% url 'obras-edit' %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Editar
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Deletar
                          </a>
                      </td>
                  </tr>

                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                              Complexo Comerial Camboriú
                          </a>
                          <br/>
                          <small>
                              Criado em 02-03-2020
                          </small>
                      </td>
{#                      <td>#}
{#                          <ul class="list-inline">#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar2.png' %}">#}
{#                              </li>#}
{#                              <li class="list-inline-item">#}
{#                                  <img alt="Avatar" class="table-avatar" src="{% static 'dist/img/avatar04.png' %}">#}
{#                              </li>#}
{#                          </ul>#}
{#                      </td>#}
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-volumenow="67" aria-volumemin="0" aria-volumemax="100" style="width: 67%">
                              </div>
                          </div>
                          <small>
                              67% Executado
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">No prazo</span>
                      </td>
                      <td class="project-actions text-right">
{#                          <a class="btn btn-primary btn-sm" href="#">#}
{#                              <i class="fas fa-folder">#}
{#                              </i>#}
{#                              Ver#}
{#                          </a>#}
                          <a class="btn btn-info btn-sm" href="{% url 'obras-edit' %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Editar
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Deletar
                          </a>
                      </td>
                  </tr>

              <!--Fim detalhes-->

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
